* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;
    
}
#content {
    display: inline-block;
    margin: 3em auto auto 9em;
    float: left;

}
#content h2 {
    font-size: 50px;
}
#content h1 {
    font-size: 100px;
    font-weight: 1000;
}
#content p {
    font-size: 20px;
}
.linkbutton {
    background-color: #7CA616;
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    border-radius: 90px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #c2c2c2;
}
.menu-kanan {
    position: absolute;
    right: 0%;
    top: 17px;
}
.menu-kanan img {
    float: right;
    width: 18px;
    padding-right: 50px;
    padding-top: 8px
}
#search {
    margin-bottom: 10px;
    float: right;
    padding-right: 46px;
    
}
#search input {
    padding: 10px;
    border: .1px solid lightgray;
    font-family: montserrat;
    width: 250px;
    border-radius: 20px;
}
#search button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: .1px solid lightgray;
    border-radius: 60px;
    font-family: montserrat;
    cursor: pointer;
}
#search button:hover{
    background-color: #7CA616;
    color: white;

}
nav {
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}


nav ul {
    background: whitesmoke;
    list-style: none;
    display: inline-table;
    width: 100%;

}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

nav ul li:hover a {
    color: #7CA616;
    border-bottom: 2px solid #7CA616;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: dimgray;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    font-weight: 400;

}
.social {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding-right: 0px
    
}
.social img {
    width: 20px;
    padding-right: 50px;
}

#maskot {
    float: right;
    width: 520px;
    padding-right: 140px;
}
.thumbnail {
    background-color: white;
    text-align: center;
    padding: 10px;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
}

.thumbnail img {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0%;
    height: 54px;
    background: whitesmoke;
    color: dimgray;
    width: 100%;
}
footer p {
    padding: 16px 20px;
    position: relative;
    float: left;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}