* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;
    
}
#content {
    margin: 70px;
    overflow: auto;
}
#content span {
    color: #7CA616;
}
.menu-kanan {
    position: absolute;
    right: 0%;
    top: 17px;
}
.menu-kanan img {
    float: right;
    width: 18px;
    padding-right: 50px;
    padding-top: 8px 
}
#search {
    margin-bottom: 10px;
    float: right;
    padding-right: 46px;
    
}
#search input {
    padding: 10px;
    border: .1px solid lightgray;
    font-family: montserrat;
    width: 250px;
    border-radius: 20px;
}
#search button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: .1px solid lightgray;
    border-radius: 60px;
    font-family: montserrat;
    cursor: pointer;
}
#search button:hover{
    background-color: #7CA616;
    color: white;

}
nav {
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}


nav ul {
    background: whitesmoke;
    list-style: none;
    display: inline-table;
    width: 100%;

}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

nav ul li:hover a {
    color: #7CA616;
    border-bottom: 2px solid #7CA616;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: dimgray;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    font-weight: 400;

}
.social {
    float: right;
    margin-top: 18px;
    
}
.social img {
    width: 20px;
    padding-right: 50px;
}

#maskot {
    float: right;
    width: 520px;
    padding-right: 140px;
}

form {
    margin-top: 40px;
    width : 50%;
}
form .biodata {
    float: left;
    margin-right: 30px;
    
}
form label {
    display: block;
    margin: 15px 0 5px 0;
}

form input {
    width: 250px;
    margin-bottom: 10px;
    padding: 6px;
    font-size: 14px;
}
form textarea {
    padding: 6px;
}
.bayar {
    background-color: whitesmoke;
    display: inline-block;
}
.pembayaran {
    padding: 36px;
    margin-top: 100px;
}
.pembayaran input {
    margin-top: 10px;
}
.pembayaran a input {
    margin-top: 20px;
    font-family: montserrat;
    font-size: 14px;
    padding: 16px;
    background-color: #7ca616;
    border: none;
    color: white;
    cursor: pointer;
}
.pesanan-anda {
    padding: 36px;
    width: 500px;

}
.pesanan-anda h3, .pembayaran h3 {
    margin-bottom: 20px;
}
.pesanan-anda p {
    display: block;
    margin: 10px 0 0 0;
    padding: 10px 0 5px 0;
    width: 50%;
    float: left;
    border-bottom: 1px solid dimgray;
}
.pesanan-anda .kanan {
    text-align: right;
}
.pesanan-anda input {
    float: left;
}
.pesanan-anda .pembayaran {
    margin-top: 10px;
}
footer {
    border-top: 1px solid #7ca616;
    bottom: 0%;
    height: 54px;
    background: whitesmoke;
    color: dimgray;
    width: 100%;
}
footer p {
    padding: 16px 20px;
    position: relative;
    float: left;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}