* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;

}

.menu-kanan {
    position: absolute;
    right: 0%;
    top: 17px;
}

.menu-kanan img {
    float: right;
    width: 18px;
    padding-right: 50px;
    padding-top: 8px
}

#search {
    margin-bottom: 10px;
    float: right;
    padding-right: 46px;

}

#search input {
    padding: 10px;
    border: .1px solid lightgray;
    font-family: montserrat;
    width: 250px;
    border-radius: 20px;
}

#search button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: .1px solid lightgray;
    border-radius: 60px;
    font-family: montserrat;
    cursor: pointer;
}

#search button:hover {
    background-color: #7CA616;
    color: white;

}

nav {
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}


nav ul {
    background: whitesmoke;
    list-style: none;
    display: inline-table;
    width: 100%;

}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

nav ul li:hover a {
    color: #7CA616;
    border-bottom: 2px solid #7CA616;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: dimgray;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    font-weight: 400;
}

.content {
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 15px;
    overflow: auto;
}
#tentang {
    padding-top: 20px;
    font-size: 15px;
}
hr {
    opacity: .4;
    margin-bottom: 10px;
}

.thumbnail {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    float: left;
}

.thumbnail img {
    width: 300px;
    border-radius: 12px;
    float: left;
    margin-right: 10px;
    
}
.thumbnail p {
    border-right: 1px solid #7CA616;
    padding-right: 30px;
    width: 500px;
    text-align: justify;
    float: left;
}
.buy {
    border: 1px solid #7ca616;
    padding: 20px 0;
    margin-left: 25px;
    width: 210px;
    text-align: center;
    float: right;
}
.buy input {
    font-size: 16px;
    border: 1px solid #7ca616;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    padding: 10px;
    
}

.btn {
    margin-top: 20px;
    font-family: montserrat;
    color: white;
    font-weight: 200px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background-color: #7ca616;
    padding: 10px;
    cursor: pointer;
}

.social {
    float: right;
    margin: 20px auto auto auto;
}
.social img {
    width: 20px;
    padding-right: 50px;
}

footer {
    border-top: 1px solid #7ca616;
    margin-top: 50px;
    height: 54px;
    width: 100%;
    position: absolute;
    bottom:0;
    background-color: whitesmoke;
}
footer p {
    margin: 20px 25px auto;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    float: left;
}
