* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;

}

.menu-kanan {
    position: absolute;
    right: 0%;
    top: 17px;
}

.menu-kanan img {
    float: right;
    width: 18px;
    padding-right: 50px;
    padding-top: 8px
}

#search {
    margin-bottom: 10px;
    float: right;
    padding-right: 46px;

}

#search input {
    padding: 10px;
    border: .1px solid lightgray;
    font-family: montserrat;
    width: 250px;
    border-radius: 20px;
}

#search button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: .1px solid lightgray;
    border-radius: 60px;
    font-family: montserrat;
    cursor: pointer;
}

#search button:hover {
    background-color: #7CA616;
    color: white;

}

nav {
    top: 0%;
    margin: auto;
    text-align: center;
    width: 100%;
}


nav ul {
    background: whitesmoke;
    list-style: none;
    display: inline-table;
    width: 100%;

}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

nav ul li:hover a {
    color: #7CA616;
    border-bottom: 2px solid #7CA616;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: dimgray;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    font-weight: 400;

}
form {
    margin: 60px auto auto;
    text-align: center;
    width: 400px;
    border: 1px solid #7ca616;
    
}

form h2 {
    color: white;
    background-color: #7CA616;
    padding: 20px;
    text-align: center;
}

.form-group {
    padding: 10px;
}

.input-mode {
    border: 1px solid silver;
    font-size: 15px;
    padding: 6px;
    width: 90%;
    font-family: montserrat;
}

.btn-submit {
    font-size: 16px;
    font-weight: 500;
    font-family: montserrat;
    color: white;
    padding: 10px 30px;
    background-color: #7ca616;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.ket {
    margin: auto;
    font-size: 12px;
    padding: 10px 20px 10px;
    text-align: left;
}
.ket a {
    color: #7ca616;
}

.social {
    float: right;
    margin: 20px auto auto auto;
}
.social img {
    width: 20px;
    padding-right: 50px;
}

footer {
    border-top: 1px solid #7ca616;
    position: absolute;
    bottom: 0%;
    height: 54px;
    width: 100%;
    background-color: whitesmoke;
}

footer p {
    margin: 20px 25px auto;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    float: left;
}
