* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins, sans-serif;
}

/* Navbar */

.topnav li img {
    width: 90px;
    padding: 13px 13px 0 20px;
}

.menu {
    float: right;
    padding: 18px 0 0 0;
    
}

.menu img {
    width: 17px;
    padding: 0 12px;
}

.search {
    position: relative;
    float: right;
    padding: 6px 0 0;
}

.search input {
    width: 10px;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('Icon/search.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px;
    padding: 10px 0 10px 40px;
    transition: .6s;
    cursor: pointer;

}

.search input:focus {
    width: 190px;
    border: 1px solid lightgray;
    background-color: white;
}


ul.topnav {
    border-bottom: 1px solid #7ca616;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    padding: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

ul.topnav li a:hover {
    color: #7ca616;
    background-color: white;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:786px) {
    .topnav li img {
        position: absolute;
        margin: auto;
        width: 90px;
    }

    ul.topnav li:not(:first-child),
    ul.topnav.responsive .menu,
    ul.topnav.responsive .search,
    ul.topnav.responsive li img {
        display: none;
    }

    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav li a {
        display: block;
        text-align: left;
    }
    .form-content {
        width: 300px;
    }

    .form-main input {
        margin: auto;
        width: 90%;
        padding:9px; 
    }
}

/* Form PopUp Login*/

.form-login {
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);


}

.form-content {
    position: relative;
    background-color: white;
    margin: auto;
    max-width: 400px;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px;

}

.form-head {
    font-size: 15px;
    background-color: #7ca616;
    color: white;
    padding: 20px;
    border-radius: 12px 12px 0 0;
}

.form-main {
    padding: 10px 20px 10px 20px;
}

.form-main p {
    font-weight: 550;
    margin: 16px 0 3px 0;
}

.form-main input {
    padding: 5px;
    font-size: 14px;
    display: block;
    width: 345px;
}

.form-main input[type=submit] {
    margin: 20px auto;
    background-color: #7ca616;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.form-main input[type=submit]:hover {
    background-color: darkolivegreen;
}

.form-main .ext {
    font-weight: 400;
    font-size: 12px;
}

.form-main .ext button {
    background: none;
    color: #7ca616;
    border: none;
    cursor: pointer;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: 550;
    transition: 0.3s;
}

.close:hover {
    cursor: pointer;
    color: darkolivegreen;
}

/* Form PopUp SignUp */

.form-signUp {
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);


}

.form-content {
    position: relative;
    background-color: white;
    margin: auto;
    max-width: 400px;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 12px;

}

.form-head {
    font-size: 15px;
    background-color: #7ca616;
    color: white;
    padding: 20px;
    border-radius: 12px 12px 0 0;
}

.form-main {
    padding: 10px 20px 10px 20px;
}

.form-main p {
    font-weight: 550;
    margin: 16px 0 3px 0;
}

.form-main input {
    padding: 5px;
    font-size: 14px;
    display: block;
    width: 345px;
}

.form-main input[type=submit] {
    margin: 20px auto;
    background-color: #7ca616;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.form-main input[type=submit]:hover {
    background-color: darkolivegreen;
}

.form-main button {
    color: #7ca616;
    border: none;
    background-color: none;
    display: inline-block;
}

.closeSignUp {
    float: right;
    font-size: 24px;
    font-weight: 550;
    transition: 0.3s;
}

.closeSignUp:hover {
    cursor: pointer;
    color: darkolivegreen;
}
/*Konten*/

.isi {
    margin-top: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.isi img {
    width: 100px;
    margin: 50px 0 93px;
}

.content {
    margin: 70px;
    overflow: auto;
}

.content span {
    color: #7CA616;
}

.content h3 {
    font-weight: bold;
    font-size: 20px;
}


.linkbutton {
    margin: 100px auto 0;
    background-color: #7CA616;
    padding: 15px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
    width: 210px;
    text-align: center;
}

/* Footer */

footer {
    margin-top: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #7ca616;
    background: whitesmoke;
    color: dimgray;
    width: 100%;
}

footer div,
footer p {
    margin: 16px 0 8px 0;
}

footer p {
    font-size: 13px;
    font-style: italic;
    padding: 0 5vw 0;
}

.social img {
    width: 20px;
    padding: 0 5vw 0 0;
    
}
@media screen and (max-width:601px){
        }
    .form-content {
        width: 300px;
    }

    .form-main input {
        margin: auto;
        width: 90%;
        padding:9px; 
    }
}
@media screen and (max-width:1110px){
    footer{
        bottom:unset;
    }
}