* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;
    
}
#content {
    display: inline-block;
    margin: 3em auto auto 9em;
    float: left;

}
#content h2 {
    font-size: 50px;
}
#content h1 {
    font-size: 100px;
    font-weight: 1000;
}
#content p {
    font-size: 20px;
}
#content .klik-blanja {
    background-color: #7CA616;
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    border-radius: 90px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 20px;
    width: 250px;
    text-align: center
}

nav {
    margin: auto;
    text-align: center;
    width: 100%;
    position: relative;
}
.menu-kanan {
    float: right;
    margin: auto 40px;
}

nav ul {

    background: whitesmoke;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;

}

nav ul li {
    float: left;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0)
}

nav ul li:hover a {
    color: #7CA616;
    border-bottom: 2px solid #7CA616;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: dimgray;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-size: 15px;
    font-weight: 400;

}
.social {
    top: 30%;
    padding: 3px 20px;
    position: relative;
    float: right;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    
}

img {
    float: right;
    width: 520px;
    padding-right: 140px;
}
.thumbnail {
    background-color: white;
    text-align: center;
    padding: 10px;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
}

.thumbnail img {
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background: lightgray;
    color: dimgray;
    width: 100%;
}
footer p {
    padding: 16px 20px;
    position: relative;
    float: left;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}